html,
body {
    height: 100%;
}

body {
    background: #555753FF;
    padding: 100px;
}

.lcd-display {
    background: #C17D11FF;
    color: #0f0a0a;
    height: 110px;
    max-width: 100%;
    overflow: hidden;
    margin: 5px;
    font-family: 'Orbitron', sans-serif;
}

.lcd-display__main {
    font-size: 3.8rem;
    line-height: 4rem;
}

.lcd-display__aux {
    min-height: 26px;
}

.calculator-buttons__button {
    margin: 5px;
    width: 100%;
}